/* Base styles */
body {
    background-color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    color: #ffff;
    font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 150, "XOPQ" 175, "XTRA" 468, "YOPQ" 135, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
    font-size: 2em;
    /* Consistent font size */
    text-align: center;
    margin: 0.5em 0;
}

p,
li {
    color: #ffff;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 175, "XTRA" 468, "YOPQ" 25, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
    font-size: 1em;
    /* Consistent font size */
    line-height: 1.5;
    /* Maintain line height for readability */
    margin: 0.5em 0;
    padding: 0 1em;
    /* Keep this for some padding */
    word-wrap: break-word;
    /* Allow long words to break */
    white-space: normal;
    /* Allow normal wrapping */
}

/* Remove mobile-friendly adjustments */